<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:href="@{/css/style.css}">

<title>Buscar Película</title>
</head>
<body class="down_btn">

	<div >
		<a href="/pelicula/" th:href="@{/pelicula/}">Home</a>
	</div>
	
	<h1>Bienvenido al módulo Agregar Pelicula</h1>
	<div class="form text_field ">
		<form action="home" th:action="@{/pelicula/find}" th:object="${movie}" method="post">
		<label>Título:</label> <input type="text" name="titulo"><br>
		<input type="submit" value="Buscar">
	</form>
	<span th:if="${noEncontrada}">La película no se encontró</span>
	</div>
</body>
</html>