
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:href="@{/css/style.css}">
<title>Buscar Película</title>
</head>
<body class="down_btn">

	<div >
		<a href="/pelicula/" th:href="@{/pelicula/}">Home</a>
	</div>

	
	<h1>Detalle Película</h1>
	<div class="form text_field ">
		<form action="home" th:action="@{/pelicula/editar}" th:object="${movieEncontrada}" method="post">
			<input type="hidden" th:field="*{id}" />
			<label>Título:</label>
			<input type="text" th:field="*{titulo}" /> <br>
			<label>Categoría</label>
			<input type="text" th:field="*{categoria}" /> <br>
			<label>Rating</label>
			<input type="text" th:field="*{rating}" /> <br>
			<label>Numero Random</label>
			<p th:text="*{random_num}"></p>
			<br> <br>
			<input type="submit" value="Editar" class="btn-submit">
			<a th:href="@{delete/{id}(id=*{id})}" class="btn-delete">Eliminar</a>             
		</form>
	</div>
</body>
</html>
